doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/bower_components/bootstrap-css/css/bootstrap.min.css")
		link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="/bower_components/fetch/fetch.js")
	body
		block content
		